* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

ul, .nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  display: block;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

.container:after {
  display: table;
  content: '';
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
}

.wrapper-lg {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 10px;
}

.oh {
  overflow: hidden;
}

.overlay {
  background: url(../img/layer1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  padding: 150px 0 42px;
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #000;
  opacity: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

body {
  color: #222;
  background-color: #fff;
  font-size: 14px;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

a {
  color: #888888;
  text-decoration: none;
}

a:hover {
  color: #a50092;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

.btn {
  font-style: italic;
  font-weight: 700;
  display: inline-block;
  background: #ffcb17;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffcb17 0%, #ffc814 50%, #ffbb07 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffcb17 0%, #ffc814 50%, #ffbb07 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffcb17 0%, #ffc814 50%, #ffbb07 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb17', endColorstr='#ffbb07',GradientType=0 );
  /* IE6-9 */
  user-select: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 24px;
  text-shadow: 1px 1px 1px rgba(241, 170, 0, 0.5);
  border: 1px solid #eb9000;
  border-radius: 20px;
  padding: 15px 20px;
}

.btn:hover {
  color: #a50092;
  border-color: #a50092;
}

.form-group {
  margin-bottom: 8px;
  padding: 17px 18px;
  color: #000;
  opacity: 1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  width: 100%;
}

.form-control {
  width: 100%;
  display: block;
  color: #222;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e8eaea;
  border-radius: 2px;
  height: auto;
  line-height: 1;
  padding: 17px 18px;
}

.form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
  font-size: font-size;
  line-height: 24px;
}

.form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
  font-size: font-size;
  line-height: 24px;
}

.form-control:-ms-input-placeholder {
  color: #000;
  opacity: 1;
  font-size: font-size;
  line-height: 24px;
}

.form-label {
  display: block;
  color: #eaeef1;
  font-size: 14px;
  margin-bottom: 4px;
}

.block {
  padding: 20px 0;
  background-size: cover;
  background-position: 50% 50%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.block-header {
  display: table-header-group;
  height: 1%;
}

.block-content {
  display: table-row-group;
}

.block-footer {
  display: table-footer-group;
  height: 1%;
}

.block-inner {
  display: table-cell;
  vertical-align: middle;
}

.block-collapse {
  padding: 0;
}

.block-fill-height {
  height: 100vh;
}

.block-inverse {
  color: #fff;
}

.block-overlay {
  position: relative;
  z-index: 1;
}

.block-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: inherit;
  opacity: 0.5;
}

.row {
  margin: 0 -10px;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  padding: 0 10px;
  float: left;
}

@media all and (min-width: 480px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 980px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bg-dark {
  background-color: #e8eaea;
}

.bg-darken {
  background-color: #000;
}

.bg-primary {
  background-color: tomato;
}

.header {
  padding: 53px 0 38px;
}

.logo {
  float: left;
  max-width: 300px;
}

.logo a {
  display: block;
}

.header-title {
  display: inline-block;
  text-align: left;
  width: 42.3%;
  margin-left: 4%;
  padding-top: 16px;
}

.header-title span {
  font-weight: 300;
  display: block;
  font-size: 16px;
}

.header-title span:last-child {
  text-align: right;
}

.call-box {
  float: right;
  margin-top: -4px;
}

.tel {
  display: block;
  color: #262626;
  font-size: 18px;
  vertical-align: middle;
  margin-bottom: 18px;
}

.tel strong {
  color: #ffb400;
  font-size: 24px;
  font-weight: normal;
}

.tel:hover {
  color: inherit;
  text-decoration: none;
}

.order {
  color: #ac0098;
  border-bottom: 1px dashed #ac0098;
}

.order:hover {
  border: none;
}

.nav {
  float: right;
}

.nav li {
  float: left;
  margin-left: 30px;
}

.nav li a {
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  border-bottom: 4px solid transparent;
  font-weight: 700;
  padding-bottom: 7px;
  font-size: 12px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.nav li a:hover {
  color: #c613b1;
  border-bottom: 4px solid #c613b1;
}

.propose {
  text-align: center;
  width: 100%;
}

.propose h1 {
  font-weight: 300;
  color: #fff;
  margin: 37px 0 32px;
  font-size: 50px;
  display: block;
  position: relative;
}

.propose h1:before {
  width: 77px;
  height: 20px;
  content: '';
  position: absolute;
  top: -36px;
  left: 46%;
  background: url(../img/wings.png) no-repeat center center;
}

.creative {
  font-weight: 600;
  font-style: italic;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.creative:before, .creative:after {
  display: block;
  content: '';
  width: 77px;
  height: 20px;
  position: absolute;
  right: -58px;
  top: -2px;
  background: url(../img/dots.png) center center no-repeat;
}

.creative:before {
  left: -58px;
}

.order-lg {
  display: block;
  max-width: 330px;
  height: 75px;
  padding: 17px 0;
  margin: 58px auto;
  font-size: 36px;
  font-weight: 600;
  color: #ffba00;
  background: url(../img/border.png) center center no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-position: center center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.scroll {
  display: block;
  width: 42px;
  height: 117px;
  margin: 89px auto 0px;
  background: url(../img/mouse.png) center center no-repeat;
}

.clients {
  padding: 22px 0;
}

.design h2 {
  margin-bottom: 69px;
}

.design-box:after, .design:after, .design-box-right:after, .wrapper-lg:after {
  display: block;
  content: '';
  clear: both;
}

.design-box-left {
  float: left;
  width: 49%;
}

.desc {
  text-align: left;
  margin-bottom: 33px;
}

.anim1 {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
}

.anim {
  opacity: 1 !important;
}

.desc .img-holder {
  float: left;
  max-width: 100px;
  width: 17.5%;
}

.img-holder img {
  float: left;
}

.desc .text-holder {
  float: right;
  display: inline-block;
  width: 82.5%;
  padding-right: 5%;
}

.desc .text-holder p {
  font-weight: 300;
  line-height: 24px;
}

.desc .text-holder strong {
  font-weight: 600;
  color: #a50092;
}

.design-box-right {
  float: right;
  position: relative;
  width: 51%;
  margin-top: -30px;
  padding-left: 8%;
}

.design-box-right .img-holder {
  position: absolute;
  width: 765px;
  height: 666px;
  top: -6px;
  left: 82px;
}

.design-box-right .img-holder img {
  display: block;
  float: none;
  width: 100%;
}

.counter-block {
  padding: 48px 0;
}

.counter-block-item {
  width: 21%;
  display: inline-block;
}

.counter-block-item span {
  font-weight: 600;
  font-style: italic;
  color: #ffb400;
  display: block;
}

.counter-block-item .spincrement {
  font-size: 100px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 10px;
}

.dot {
  position: relative;
  margin: 0 18%;
}

.dot:before, .dot:after {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 140%;
  top: 40%;
  display: block;
  content: '';
  background: url(../img/dot.png) no-repeat center center;
}

.dot:after {
  left: -40%;
}

.adaptive-box {
  padding: 108px 0 70px;
}

.adaptive-box h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 57px;
}

.adaptive-box h2 strong {
  font-weight: normal;
  color: #ffb400;
}

.adaptive-box-left,
.adaptive-box-right {
  width: 50%;
}

.adaptive-box-left .img-wrapper {
  padding-left: 2.6%;
  margin-bottom: 22px;
}

.adaptive-box-left p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 24px;
  display: block;
  font-weight: 600;
}

.adaptive-box-left .desc {
  max-width: 400px;
}

.adaptive-box-left .desc p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.adaptive-box-left .desc p strong {
  font-weight: 600;
  color: #ffb400;
}

.line {
  margin-bottom: 28px;
  display: block;
  width: 100%;
}

.adaptive-box-right {
  padding: 11px 4% 10px 8.6%;
}

.form-holder {
  padding: 5px;
  max-width: 350px;
  border: 1px solid #fff;
  text-align: center;
}

.form-holder p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.form-holder p strong {
  color: #a50092;
  display: block;
  font-size: 30px;
  margin-bottom: 3px;
}

.arrow {
  margin-top: -28px;
  padding-bottom: 8px;
}

.form span {
  font-size: 13px;
  line-height: 18px;
  color: #67005b;
}

.form .btn {
  margin-top: 8px;
  width: 100%;
  margin-bottom: 5px;
}

.form .line {
  margin-bottom: 11px;
}

.count {
  position: relative;
  width: 100%;
}

#countbox {
  position: relative;
  padding: 20px 35px;
  margin: 0 auto 19px auto;
  line-height: 50px;
  border: 1px solid #503550;
  color: #ffb400;
  font-size: 50px;
  font-weight: 400;
  width: 350px;
  height: 110px;
}

#countbox .countbox-num {
  float: left;
  width: 60px;
  height: 40px;
}

#countbox .countbox-space {
  float: left;
  width: 48px;
  height: 40px;
}

#countbox-hours1, #countbox-mins1, #countbox-secs1 {
  float: left;
  text-align: center;
  background-image: url("../img/digits2.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
}

#countbox-hours2, #countbox-mins2, #countbox-secs2 {
  float: right;
  text-align: center;
  background-image: url("../img/digits2.png");
  background-repeat: no-repeat;
  margin: 0;
  height: 40px;
  width: 30px;
}

.adaptive-box-right h3 {
  font-size: 28px;
  letter-spacing: -2px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  margin: 45px 0 21px;
}

.count-title {
  position: absolute;
  bottom: 25px;
  left: 0%;
  width: 350px;
}

.count-title span {
  font-style: italic;
  font-weight: 400;
  color: #ffb400;
  display: inline-block;
  margin: 0 15px 0 47px;
}

#modal {
  display: none;
}

@media screen and (max-width: 870px) {
  .header-title {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 0;
  }
  .header-title span {
    text-align: left !important;
  }
  .header {
    padding: 30px 0 30px;
  }
  .wrapper-lg {
    padding-bottom: 0px !important;
  }
  .dot {
    position: relative;
    margin: 0 0;
  }
  .counter-block-item {
    width: 32.33%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  .counter-block-item .spincrement {
    font-size: 50px;
  }
  .dot:before, .dot:after {
    left: 100%;
  }
  .dot:before {
    left: 0;
  }
  .adaptive-box-right {
    padding: 11px 1% 10px 1%;
  }
  .count-box .count-title {
    left: 24px;
  }
}

@media screen and (max-width: 640px) {
  .design-box-left {
    float: left;
    width: 100%;
  }
  .wrapper-lg {
    padding-top: 100px !important;
  }
  .adaptive-box-left, .adaptive-box-right {
    width: 100% !important;
  }
  .adaptive-box-left .img-wrapper {
    padding-left: 0;
    margin: 0 auto;
    display: block;
  }
  .adaptive-box-left .img-wrapper img {
    margin: 0 auto;
    display: block;
  }
  .adaptive-box-right {
    width: 100%;
    padding: 0 20%;
    margin: 0 auto 10px;
  }
  .nav li {
    float: left;
    margin: 0 10px;
  }
  .count-title {
    position: absolute;
    bottom: 40px;
    left: 75px;
    width: 420px;
  }
  .count-title span {
    margin: 0 56px 0 28px;
  }
  .adaptive-box-right .form-holder {
    padding: 5px;
    max-width: 350px;
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
  }
  .adaptive-box-right {
    width: 100%;
    padding: 0 5%;
  }
  .dot:before, .dot:after {
    top: 25%;
    left: -10%;
  }
  .dot:after {
    left: 100%;
  }
  .wrapper-lg {
    padding-top: 140px !important;
  }
  #countbox .countbox-num {
    float: left;
    width: 20%;
  }
  #countbox-hours1, #countbox-mins1, #countbox-secs1 {
    width: 50%;
  }
  #countbox {
    width: 420px;
    padding: 10px 10%;
  }
  #countbox .countbox-space {
    float: left;
    width: 20%;
    height: 40px;
  }
  .adaptive-box-right .count {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  #countbox-hours2, #countbox-mins2, #countbox-secs2 {
    float: right;
    text-align: center;
    background-image: url(../img/digits2.png);
    background-repeat: no-repeat;
    margin: 0;
    height: 40px;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .adaptive-box-right .count .count {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  #countbox {
    width: 335px;
    padding: 10px 3%;
  }
  .count-title span {
    margin: 0 45px 0 38px;
    text-align: center;
  }
  .count-title {
    position: absolute;
    bottom: 40px;
    left: 5%;
    width: 335px;
  }
  .count-title span {
    margin: 0;
    text-align: center;
    width: 33.3%;
    display: block;
    float: left;
  }
  #countbox .countbox-space {
    float: left;
    width: 15px;
    height: 40px;
  }
  #countbox .countbox-num {
    float: left;
    width: 30%;
  }
}
